@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap%27');
@font-face {
    font-family: 'Mechanismo';
    src: url('../Mechanismo-Regular.ttf');
}

#speakers{
    width: 100vw;
    background: url("../images/3.png") no-repeat fixed;
    background-size: cover;
    background-position: center;
    z-index: -1;
    overflow-x: hidden;
    padding-bottom: 10%;
}

#speakers-heading{
    position: relative;
    width: 40%;
    margin-left: -6vw;
    margin-top: 1%;
    font-family: 'Mechanismo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    text-align: center;
    color: #D0D0D0;
    padding-left: 5vw;
}

/* For Speakers' Containers */

.speaker-name{
    color: yellow;
    font-family: 'Montserrat', sans-serif;
    font-size: 140%;
}

.designation{
    color: khaki;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

.description{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 85%;
}

.base-contain{
    background: linear-gradient(#8A8A8A66,#00000066);
    border-radius: 3%;
    padding: 3vh;
    height: 42vh;
    width: 69.420%;
    opacity: 1;
    transition-property: "height";
    transition-duration: 1s;
}

.base-contain:hover{
    height: 55vh;
    background:#00000066;
}

.social-icons{
    width: 12.5%;
    height: auto;
    object-fit: cover;
}

/* For hidden text and icons*/

#hidden{
    display: none;
}

.base-contain:hover #hidden{
    display: inline-block;
}

/* Media Queries */

@media screen and (max-width :1366px){
    .base-contain{
        width:27.5vw;
    }
    #speakers{
        padding-right: 10vw;
    }
}

@media screen and (max-width:991px){
    #speakers{
        padding-left: 8vw;
    }
    .base-contain{
        width:25vw;
    }
    .base-contain:active{
        height: 70vh;
    }
}

@media screen and (max-width: 900px){
    #speakers{
        padding-left: 2vw;
        padding-right: 4vw;
    }
    .base-contain{
        width:27.5vw;
    }
    .base-contain:active{
        height: 69vh;
    }
}

@media screen and (max-width: 809px){
    .speaker-name{
        font-size:115%;
    }
    .designation{
        font-size: 90%;
    }
    .description{
        font-size: 80%;
    }
}

@media screen and (max-width: 688px){
    #speakers{
        padding-left: 3vw;
        padding-right: 5vw;
    }
    .base-contain{
        min-width: 30.5vw;
    }
    .base-contain:active{
        height: 73vh;
    }
    .designation{
        font-size: 84%;
    }
}

@media screen and (max-width: 575px){
    .speaker-name{
        font-size:180%;
    }
    .designation{
        font-size: 120%;
    }
    .description{
        font-size: 92%;
    }
    .base-contain{
        min-width: 80vw;
        margin-bottom: 5vh;
    }
    .base-contain:active{
        height: 69vh;
    }
    #speakers{
        padding-left: 7vw;
    }
    #speakers-heading{
        margin-top: 50px;
        font-size: 15vw;
    }
}
@media screen and (max-width: 345px){
    .speaker-name{
        font-size: 150%;
    }
    .designation{
        font-size: 120%;
    }
    .description{
        font-size: 90%;
    }
    .base-contain{
        height: 45vh;
    }
    .base-contain:active{
        height: 75vh;
    }
}