<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sponsors</title>
        <link rel="stylesheet" href="assets/css/power.css" />
    </head>
    <body>
        <div class="header">
            <h1 class="heading">POWER SPONSORS</h1>
            <div class="line">
                <hr />
            </div>
        </div>
        <div class="container">
            <div class="sponsorsbox">
                <div class="sponsors-image-box">
                    <img
                        src="https://cdn.discordapp.com/attachments/933625077461839913/933668839533715548/unknown.png"
                        alt="Image"
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="https://cdn.discordapp.com/attachments/933625077461839913/933668869887885362/unknown.png"
                        alt=""
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="https://cdn.discordapp.com/attachments/933625077461839913/933668900497940520/unknown.png"
                        alt=""
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="https://cdn.discordapp.com/attachments/933625077461839913/933668900497940520/unknown.png"
                        alt="Image"
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="https://cdn.discordapp.com/attachments/933625077461839913/933668929698680872/unknown.png"
                        alt=""
                    />
                </div>

                <div class="sponsors-image-box">
                    <img
                        src="https://cdn.discordapp.com/attachments/933625077461839913/933668839533715548/unknown.png"
                        alt=""
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="https://cdn.discordapp.com/attachments/933625077461839913/933668869887885362/unknown.png"
                        alt="Image"
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="https://cdn.discordapp.com/attachments/933625077461839913/933668839533715548/unknown.png"
                        alt=""
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="https://cdn.discordapp.com/attachments/933625077461839913/933668929698680872/unknown.png"
                        alt=""
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="https://cdn.discordapp.com/attachments/933625077461839913/933668839533715548/unknown.png"
                        alt="Image"
                    />
                </div>

                <div class="sponsors-image-box">
                    <img
                        src="https://cdn.discordapp.com/attachments/933625077461839913/933668929698680872/unknown.png"
                        alt=""
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="https://cdn.discordapp.com/attachments/933625077461839913/933668869887885362/unknown.png"
                        alt=""
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="https://cdn.discordapp.com/attachments/933625077461839913/933668929698680872/unknown.png"
                        alt="Image"
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="https://cdn.discordapp.com/attachments/933625077461839913/933668839533715548/unknown.png"
                        alt=""
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="https://cdn.discordapp.com/attachments/933625077461839913/933668900497940520/unknown.png"
                        alt=""
                    />
                </div>
            </div>
        </div>
    </body>
</html>
