@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap%27");
@import url("https://fonts.cdnfonts.com/css/mechanismo-2%27");

@font-face {
    font-family: "Mechanismo";
    src: url("../font/Mechanismo.otf") format("opentype");
}

* {
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

body {
    background: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

#heading {
    width: 100%;
    margin: auto;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;

    margin-top: 1%;
    margin-bottom: 2%;
}

.line-left,
.line-right {
    width: 100%;
    height: 0;
}

.heading-container {
    padding-left: 10px;
    padding-right: 10px;
}

#heading hr {
    border: 3px solid #e2e0d4;
    background-color: #e2e0d4;
}

#heading h1 {
    font-family: Mechanismo;
    font-weight: normal;
    font-style: normal;

    text-align: center;
    text-transform: capitalize;

    font-size: 500%;

    color: #e2e0d4;
}

.prizes-container {
    width: 100%;
    margin: auto;
    overflow: hidden;

    display: flex;
    justify-content: center;
}

.prize {
    margin-left: 4.5%;
    margin-right: 4.5%;
}

.prize img {
    max-height: 100%;
    max-width: 100%;
}

.box-ss h3 {
    color: gold;
    font-size: 150%;
    padding-top: 30px;
}

.box-ss p {
    padding-top: 35px;
    text-align: justify;
}

.box-ss {
    background-image: linear-gradient(
        110.62deg,
        rgba(255, 255, 255, 0.35) 6.39%,
        rgba(255, 255, 255, 0.1) 53.34%
    );
    font-family: Montserrat;
    mix-blend-mode: normal;
    backdrop-filter: blur(40px);
    background-color: rgba(19, 75, 19, 0.356);

    padding: 50px;

    font-style: normal;
    font-weight: normal;

    font-size: 2.25vw;
    line-height: 45px;

    text-align: center;
    text-transform: capitalize;
}

.container-ss {
    margin: 15px auto;
    height: 800px;
    width: 90%;

    overflow: hidden;
    perspective: 1000px;
}

.container-ss .slides {
    height: 100%;
    width: 500%;

    display: flex;
}

.container-ss .slides > .box-ss {
    width: 6%;
    height: 80%;
    margin-right: -60px;
    border-radius: 60px;

    transform: scale(0.6);
    transition: 0.3s ease-in;
}

input {
    display: none;
}

.controls {
    position: absolute;
    bottom: 5%;
    left: 51.5%;

    transform: translate(-50%, -50%);
    display: flex;
}

.controls label {
    height: 15px;
    width: 15px;

    border: 2px solid gray;
    border-radius: 50%;

    margin: 20px;
    cursor: pointer;
}

.controls label:hover {
    background: gray;
}

#r1:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
    margin-left: 6.3%;
}
#r2:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
    margin-left: -0.3%;
}
#r3:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
    margin-left: -6.9%;
}
#r4:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
    margin-left: -13.5%;
}
#r5:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
    margin-left: -20%;
}

#r1:checked ~ .container-ss .slides > .box-ss:nth-child(1),
#r2:checked ~ .container-ss .slides > .box-ss:nth-child(2),
#r3:checked ~ .container-ss .slides > .box-ss:nth-child(3),
#r4:checked ~ .container-ss .slides > .box-ss:nth-child(4),
#r5:checked ~ .container-ss .slides > .box-ss:nth-child(5) {
    transform: scale(70%);
}

#r1:checked ~ .container-ss .controls > label:nth-child(1),
#r2:checked ~ .container-ss .controls > label:nth-child(2),
#r3:checked ~ .container-ss .controls > label:nth-child(3),
#r4:checked ~ .container-ss .controls > label:nth-child(4),
#r5:checked ~ .container-ss .controls > label:nth-child(5) {
    background: gray;
}

/* RESPONSIVE DESIGN */

@media screen and (max-width: 1025px) {
    .container-ss .slides > .box-ss {
        width: 7.75%;
    }

    .box-ss {
        font-size: 3.1vw;
    }

    #r1:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: 5.25%;
    }
    #r2:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -3.4%;
    }
    #r3:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -12%;
    }
    #r4:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -20.65%;
    }
    #r5:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -29.3%;
    }
}

@media screen and (max-width: 769px) {
    #heading h1 {
        font-size: 375%;
    }

    .prizes-container {
        width: 100%;
    }

    .prize {
        margin: 0 1% 0 1%;
    }

    .container-ss .slides > .box-ss {
        width: 10%;
    }

    .box-ss {
        font-size: 4vw;
    }

    #r1:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: 3.85%;
    }
    #r2:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -7.4%;
    }
    #r3:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -18.5%;
    }
    #r4:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -29.85%;
    }
    #r5:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -41%;
    }
}

@media screen and (max-width: 601px) {
    #heading h1 {
        font-size: 375%;
    }

    .prizes-container {
        width: 100%;
    }

    .prize {
        margin: 0 1% 0 1%;
    }

    .container-ss {
        margin-top: -5%;
    }

    .box-ss {
        font-size: 5.75vw;
    }

    .container-ss .slides > .box-ss {
        width: 15%;
    }

    #r1:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: 1.25%;
    }
    #r2:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -15.25%;
    }
    #r3:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -31.9%;
    }
    #r4:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -48.5%;
    }
    #r5:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -64.9%;
    }
}

@media screen and (max-width: 560px) {
    #heading h1 {
        font-size: 375%;
    }

    .prizes-container {
        width: 100%;
    }

    .prize {
        margin: 0 1% 0 1%;
    }

    .container-ss {
        margin-top: -5%;
    }

    .box-ss {
        font-size: 5.75vw;
    }

    .container-ss .slides > .box-ss {
        width: 15%;
    }

    #r1:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: 0.25%;
    }
    #r2:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -16.25%;
    }
    #r3:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -32.9%;
    }
    #r4:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -49.5%;
    }
    #r5:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -65.9%;
    }
}

@media screen and (max-width: 426px) {
    #heading h1 {
        font-size: 375%;
    }

    .prizes-container {
        width: 100%;
    }

    .prize {
        margin: 0 1% 0 1%;
    }

    .container-ss {
        margin-top: -10%;
    }

    .container-ss .slides > .box-ss {
        width: 17%;
    }

    .box-ss {
        font-size: 7vw;
    }

    #r1:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -0.75%;
    }
    #r2:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -19.5%;
    }
    #r3:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -38.75%;
    }
    #r4:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -58%;
    }
    #r5:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -77%;
    }
}

@media screen and (max-width: 376px) {
    #heading h1 {
        font-size: 375%;
    }

    .prizes-container {
        width: 100%;
    }

    .prize {
        margin: 0 1% 0 1%;
    }

    .container-ss {
        margin-top: -15%;
    }

    .container-ss .slides > .box-ss {
        width: 17%;
    }

    .box-ss {
        font-size: 7vw;
    }

    #r1:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -1.75%;
    }
    #r2:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -20.5%;
    }
    #r3:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -39.75%;
    }
    #r4:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -59%;
    }
    #r5:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -78.75%;
    }
}

@media screen and (max-width: 321px) {
    #heading h1 {
        font-size: 375%;
    }

    .prizes-container {
        width: 100%;
    }

    .prize {
        margin: 0 1% 0 1%;
    }

    .container-ss {
        margin-top: -20%;
    }

    .container-ss .slides > .box-ss {
        width: 17%;
    }

    .box-ss h3 {
        font-size: 175%;
    }

    .box-ss p {
        padding-top: 0px;
    }

    .box-ss {
        font-size: 7.75vw;
    }

    #r1:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -2%;
    }
    #r2:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -21.5%;
    }
    #r3:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -41.25%;
    }
    #r4:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -60.9%;
    }
    #r5:checked ~ .container-ss .slides > .box-ss:nth-child(1) {
        margin-left: -81%;
    }
}
