<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Gradient Wheel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/Templates/Loader/assets/css/style.css" />
</head>

<body>
    <div class="e-loadholder">
        <div class="m-loader">
            <br><br><br>
          <img src="/Templates/Loader/assets/images/MLSC logo.png" alt="" style="height: 70%;" >
        </div>
    </div>
    <div id="particleCanvas-Blue"></div>
    <div id="particleCanvas-White"></div>
    
</body>

</html>