@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap%27');
@font-face {
    font-family: 'Mechanismo';
    src: url('../Mechanismo-Regular.ttf');
}



#judges{
    width: 100vw;
    background: url("../images/3.png") no-repeat fixed;
    background-size: cover;
    background-position: center;
    z-index: -1;
    overflow-x: hidden;
    padding-bottom: 10%;

}
#judges-heading{
    position:relative;
    width: 40%;
    margin-left:47.5vw;
    margin-top: 1%;
    font-family: 'Mechanismo', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    text-align: center;
    color: #D0D0D0;
    padding:2vw;
    padding-left: 5vw;
}

/* For judges' Containers */

.judge-name{
    color: yellow;
    font-family: 'Montserrat', sans-serif;
    font-size: 140%;
}

.designation{
    color: khaki;
    font-family: 'Montserrat', sans-serif;
    font-size: 100%;
}

.description{
    color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 85%;
}

.base-contain{
    background: linear-gradient(#8A8A8A66,#00000066);
    border-radius: 3%;
    padding: 3vh;
    height: 42vh;
    width: 69.420%;
    opacity: 1;
    transition-property: "height";
    transition-duration: 1s;
}

.base-contain:hover{
    height: 55vh;
    background:#00000066;
}

.social-icons{
    width: 12.5%;
    height: auto;
    object-fit: cover;
}

/* For hidden text and icons*/

#hidden{
    display: none;
}

.base-contain:hover #hidden{
    display: inline-block;
}

/* Media Queries */

@media screen and (max-width :1366px){
    .base-contain{
        width:27.5vw;
    }
    #judges{
        padding-right: 10vw;
    }
    #judges-heading{
        margin-left: 45vw;
    }
    
}

@media screen and (max-width :1200px){
    #judges-heading{
        margin-left: 37vw;
    }
}

@media screen and (max-width:991px){
    #judges{
        padding-left: 8vw;
    }
    .base-contain{
        width:25vw;
    }
    .base-contain:active{
        height: 70vh;
    }
    #judges-heading{
        font-size: 650%;
        margin-left:30vw;
    }
}

@media screen and (max-width: 900px){
    #judges{
        padding-left: 2vw;
        padding-right: 4vw;
    }
    .base-contain{
        width:27.5vw;
    }
    .base-contain:active{
        height: 69vh;
    }
    #judges-heading{
        margin-left: 29.5vw;
    }
}

@media screen and (max-width: 809px){
    .judge-name{
        font-size:115%;
    }
    .designation{
        font-size: 90%;
    }
    .description{
        font-size: 80%;
    }
    #judges-heading{
        margin-left: 25vw;
    }
}

@media screen and (max-width: 688px){
    #judges{
        padding-left: 0vw;
        padding-right: 5vw;
    }
    .base-contain{
        min-width: 30.5vw;
    }
    .base-contain:active{
        height: 73vh;
    }
    
    .designation{
        font-size: 84%;
    }
    #judges-heading{
        margin-left: 10vw;
    }
}

@media screen and (max-width: 575px){
    .judge-name{
        font-size:180%;
    }
    .designation{
        font-size: 120%;
    }
    .description{
        font-size: 92%;
    }
    .base-contain{
        min-width: 80vw;
        margin-bottom: 5vh;
    }
    .base-contain:active{
        height: 69vh;
    }
    #judges{
        padding-left: 7vw;
    }
    #judges-heading{
        margin-top: 50px;
        font-size: 400%;
        margin-left: 5vw;
    }
}

@media screen and (max-width: 400px){
    #judges-heading{
        margin-left:0vw;
        
    }

    .base-contain{
        width:80vw;
    }

}

@media screen and (max-width: 345px){
    .judge-name{
        font-size: 150%;
    }
    .designation{
        font-size: 120%;
    }
    .description{
        font-size: 90%;
    }
    .base-contain{
        height: 45vh;
    }
    .base-contain:active{
        height: 75vh;
    }
    #judges-heading{
        font-size:350%;
        margin-left:3vw;
    }
    #judges{
        padding-left: 1vw;
    }
}