@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap%27");
@import url("https://fonts.cdnfonts.com/css/mechanismo-2%27");
@font-face {
  font-family: 'Montserrat';
  src: url(https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap%27);
}
*{
margin: 0;
padding: 0;
}
#hr1 {
  height: 4px;
  width: 85.64705657958984px;
  left: 24px;
  top: 37px;
  position: absolute;
  border: 1px solid #00C000CC;
  background: #00c00c;
  border-radius: 0px;
}
#hr2 {
  height: 4px;
  width: 85.64705657958984px;
  left: 24px;
  top: 57px;
  position: absolute;
  border: 1px solid #00C000CC;
  background: #00c00c;
  border-radius: 0px;
  }
#hr3 {
  height: 4px;
  width: 85.64705657958984px;
  left: 24px;
  top: 77px;
  position: absolute;
  border: 1px solid #00C000CC;
  background: #00c00c;
  border-radius: 0px;
}
.main_title {
  color: #d0d0d0;
  font-family: Mechanismo;
  font-size: 115px;
  font-style: normal;
  font-weight: 400;
  line-height: 138px;
  letter-spacing: 0em;
  text-align: center;
  border: 0px solid #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-top: 40px;
}
h1{
  height: 180px;
  width: 907px;
  left: 285px;
  top: 67px;
  border-radius: nullpx;
}
body {
  width: 100%;
  height: 50%;
  background: url("about_us_bg.png");
  background-size: cover;
  background-color: black;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /*overflow: hidden;*/
}
.img1{
  height: 207.9px;
  width: 221.6px;
  border-radius: 0px;
  top: 39.2px;
}
.b{
  position: absolute;
  float: right;
  display: flex;
  transform: rotate(-0.55deg);
}
p{
padding-left: 10%;
padding-top: 5%;
padding-right: 10%;
padding-bottom: 10%;
text-align: justify;
}
.box{
  position: absolute;
  width: 935px;
  height: 500px;
  left: 67px;
  top: 288px;
  background: linear-gradient(134.37deg, rgba(255, 255, 255, 0.15) 25.27%, rgba(255, 255, 255, 0.15) 101.47%);
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 26px;
  font-family: 'Montserrat',sans-serif !important;
  font-style: normal;
  font-weight: 0;
  font-size: 27.5px;
  text-align: center;
  color: #FFFFFF;
}
.flip-box {
  background-color: transparent;
  width: 2px;
  height: 2px;
  
}

.flip-box-inner {
  position: absolute;
  width: 195px;
  height: 225px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  top: 306px;
  left: calc(50% - 225px/2 + 541.5px);
}

.flip-box:hover .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front, .flip-box-back {
  position: absolute;
  width: 195px;
  height: 225px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  color: black;
}

.flip-box-back {
  color: white;
  transform: rotateY(180deg);
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.flip-box-inner-1 {
  position: absolute;
  width: 195px;
  height: 225px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  left: calc(50% - 225px/2 + 429.5px);
  top: 489px;
}

.flip-box:hover .flip-box-inner-1 {
  transform: rotateY(180deg);
}

.flip-box-inner-2 {
  position: absolute;
  width: 195px;
  height: 225px;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  left: calc(50% - 225px/2 + 541.5px);
  top: 676px;
}

.flip-box:hover .flip-box-inner-2 {
  transform: rotateY(180deg);
}

h2{
  font-family: 'Montserrat',sans-serif !important;
}

@media only screen and (max-width: 155px) {
  /*mobile phones*/
  h1{
    width: 400px;
    height: 20px; 
    text-align: center;
    margin-top: 70px;
  }
  .box{
    width: 500px;
    height: 1050px;
    top: 290px;
    left: 10px;
    font-weight: 200px;
  }
  .main_title{
    font-size: 60px;
    line-height: 100px;
    text-align: center;
    left: 100px;
  }
  .img1{
    display: none;
  }
  #hr1{
    height: 2px;
    width: 75.6px;
    left: 24px;
    top: 30px;
  }
  #hr2{
    height: 2px;
    width: 75.6px;
    left: 24px;
    top: 45px;
  }
  #hr3{
    height: 2px;
    width: 75.6px;
    left: 24px;
    top: 60px;
  }
  .flip-box-inner{
    width: 100px;
    height: 120px;
    top: 1360px;
    left: 60px;
  }
  .flip-box-inner-1{
    width: 100px;
    height: 120px;
    top: 1360px;
    left: 200px;
  }
  .flip-box-inner-2{
    width: 100px;
    height: 120px;
    top: 1360px;
    left: 340px;
  }
  .flip-box-front, .flip-box-back {
    width: 100px;
    height: 120px;
  }
  h2{
    font-size: 15px;
  }
}

@media only screen and (min-width:155px) and (max-width: 480px){
  /*mobile phones*/
  h1{
    width: 300px;
    height: 30px; 
    text-align: center;
  }
  .box{
    width: 500px;
    height: 1050px;
    top: 290px;
    left: 40px;
    font-weight: 300px;
  }
  .main_title{
    font-size: 60px;
    line-height: 100px;
    text-align: center;
    left: 100px;
  }
  .b{
    height: 150.9px;
    width: 170.6px;
    top: 39.2px;
    left: 80%;
  }
  #hr1{
    height: 2px;
    width: 75.6px;
    left: 24px;
    top: 30px;
  }
  #hr2{
    height: 2px;
    width: 75.6px;
    left: 24px;
    top: 45px;
  }
  #hr3{
    height: 2px;
    width: 75.6px;
    left: 24px;
    top: 60px;
  }
  .flip-box-inner{
    width: 170px;
    height: 190px;
    top: 1350px;
    left: 20px;
  }
  .flip-box-inner-1{
    width: 170px;
    height: 190px;
    top: 1350px;
    left: 220px;
  }
  .flip-box-inner-2{
    width: 170px;
    height: 190px;
    top: 1350px;
    left: 420px;
  }
  .flip-box-front, .flip-box-back {
    width: 170px;
    height: 190px;
  }
}

@media only screen and (min-width:480px) and (max-width: 770px) {
  /*tablets*/
  h1{
    width: 500px;
    height: 50px; 
  }
  .b{
    top: 39.2px;
    left: 80%;
  }
  .box{
    width: 700px;
    height: 780px;
    left: 20px;
  }
  .main_title{
    font-size: 70px;
  }
  #hr1{
    height: 3px;
    width: 80.6px;
    left: 24px;
    top: 32px;
  }
  #hr2{
    height: 3px;
    width: 80.6px;
    left: 24px;
    top: 50px;
  }
  #hr3{
    height: 3px;
    width: 80.6px;
    left: 24px;
    top: 68px;
  }
  .flip-box-inner{
    width: 190px;
    height: 210px;
    top: 1090px;
    left: 40px;
  }
  .flip-box-inner-1{
    width: 190px;
    height: 210px;
    top: 1090px;
    left: 260px;
  }
  .flip-box-inner-2{
    width: 190px;
    height: 210px;
    top: 1090px;
    left: 480px;
  }
  .flip-box-front, .flip-box-back {
    width: 170px;
    height: 190px;
  }
}

@media only screen and (min-width:770px) and (max-width: 900px) {
  /*tablets-small screens*/
  h1{
    width: 650px;
    height: 80px; 
  }
  .b{
    top: 39.2px;
    left: 80%;
  }
  .box{
    width: 800px;
    height: 700px;
    left: 20px;
  }
  .main_title{
    font-size: 90px;
  }
  #hr1{
    height: 3px;
    width: 80.6px;
    left: 24px;
    top: 32px;
  }
  #hr2{
    height: 3px;
    width: 80.6px;
    left: 24px;
    top: 50px;
  }
  #hr3{
    height: 3px;
    width: 80.6px;
    left: 24px;
    top: 68px;
  }
  .flip-box-inner{
    width: 190px;
    height: 210px;
    top: 1000px;
    left: 60px;
  }
  .flip-box-inner-1{
    width: 190px;
    height: 210px;
    top: 1000px;
    left: 290px;
  }
  .flip-box-inner-2{
    width: 190px;
    height: 210px;
    top: 1000px;
    left: 520px;
  }
  .flip-box-front, .flip-box-back {
    width: 190px;
    height: 210px;
  }
}

@media only screen and (min-width:900px) and (max-width: 1100px) {
  /*small screens=laptops*/
  h1{
    width: 700px;
    height: 120px; 
  }
  .b{
    top: 39.2px;
    left: 80%;
  }
  .box{
    width: 850px;
    height: 690px;
    left: 20px;
  }
  .main_title{
    font-size: 100px;
  }
  #hr1{
    height: 3px;
    width: 80.6px;
    left: 24px;
    top: 32px;
  }
  #hr2{
    height: 3px;
    width: 80.6px;
    left: 24px;
    top: 50px;
  }
  #hr3{
    height: 3px;
    width: 80.6px;
    left: 24px;
    top: 68px;
  }
  .flip-box-inner{
    width: 200px;
    height: 220px;
    top: 1000px;
    left: 80px;
  }
  .flip-box-inner-1{
    width: 200px;
    height: 220px;
    top: 1000px;
    left: 300px;
  }
  .flip-box-inner-2{
    width: 200px;
    height: 220px;
    top: 1000px;
    left: 520px;
  }
  .flip-box-front, .flip-box-back {
    width: 200px;
    height: 220px;
  }
}

@media only screen and (min-width:1100px) and (max-width: 1200px) {
  /*small screens=laptops*/
  h1{
    width: 800px;
    height: 140px; 
  }.b{
    top: 39.2px;
    left: 80%;
  }
  .box{
    width: 850px;
    height: 670px;
    left: 20px;
  }
  .main_title{
    font-size: 100px;
  }
  #hr1{
    height: 3px;
    width: 80.6px;
    left: 24px;
    top: 32px;
  }
  #hr2{
    height: 3px;
    width: 80.6px;
    left: 24px;
    top: 50px;
  }
  #hr3{
    height: 3px;
    width: 80.6px;
    left: 24px;
    top: 68px;
  }
  .flip-box-inner {
    width: 195px;
    height: 225px;
    top: 306px;
    left: calc(50% - 225px/2 + 541.5px);
  }
  .flip-box-inner-1 {
    width: 195px;
    height: 225px;
    left: calc(50% - 225px/2 + 429.5px);
    top: 489px;
  }
  .flip-box-inner-2 {
    width: 195px;
    height: 225px;
    left: calc(50% - 225px/2 + 541.5px);
    top: 676px;
  }
  .flip-box-front, .flip-box-back {
    width: 200px;
    height: 220px;
  }
}

@media only screen and (min-width:1200px) and (max-width: 1400px) {
  /*small screens-laptops*/
  h1{
    width: 825px;
    height: 160px; 
  }
  .b{
    top: 39.2px;
    left: 80%;
  }
  .box{
    width: 900px;
    height: 630px;
    left: 20px;
  }
  .main_title{
    font-size: 109px;
  }
  #hr1{
    height: 3px;
    width: 80.6px;
    left: 24px;
    top: 32px;
  }
  #hr2{
    height: 3px;
    width: 80.6px;
    left: 24px;
    top: 50px;
  }
  #hr3{
    height: 3px;
    width: 80.6px;
    left: 24px;
    top: 68px;
  }
  .flip-box-inner {
    width: 195px;
    height: 225px;
    top: 306px;
    left: calc(50% - 225px/2 + 541.5px);
  }
  .flip-box-inner-1 {
    width: 195px;
    height: 225px;
    left: calc(50% - 225px/2 + 429.5px);
    top: 489px;
  }
  .flip-box-inner-2 {
    width: 195px;
    height: 225px;
    left: calc(50% - 225px/2 + 541.5px);
    top: 676px;
  }
  .flip-box-front, .flip-box-back {
    width: 195px;
    height: 225px;
  }
}

@media only screen and (min-width:1400px) and (max-width: 1600px) {
  .b{
    top: 39.2px;
    left: 80%;
  }
  .box{
    height: 620px;
  }
}

@media only screen and (min-width: 1600px) {
  /*large screens*/
  h1{
    width: 1100px;
    height: 210px; 
  }
  .b{
    top: 39.2px;
    left: 80%;
  }
  .box{
    width: 1100px;
    height: 580px;
  }
  .main_title{
    font-size: 150px;
  }
  .flip-box-inner {
    width: 210px;
    height: 235px;
    top: 306px;
    left: 1350px;
  }
  .flip-box-inner-1 {
    width: 210px;
    height: 235px;
    left: 1236px;
    top: 489px;
  }
  .flip-box-inner-2 {
    width: 210px;
    height: 235px;
    left: 1350px;
    top: 676px;
  }
  .flip-box-front, .flip-box-back {
    width: 210px;
    height: 235px; 
}
}