@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap%27");
@import url("https://fonts.cdnfonts.com/css/mechanismo-2%27");

* {
    padding: 0;
    margin: 0;
}

body {
    background: url("../images/bg.png");
    background-color: rgb(7, 32, 7);
    background-size: cover;
}

.header {
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 1%;
    margin-bottom: 2%;
    justify-content: center;
    text-align: center;
    margin: 40px 115px 0px 92px;
}

.line {
    margin-left: 12px;
    box-sizing: border-box;
    flex: 1;
}

.line hr {
    background-color: #c9a002;
    border: 2px #c9a002 solid;
}

.heading {
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 4rem;
    line-height: 79px;
    color: #c9a002;
    white-space: nowrap;
}

.sponsors-image-box img {
    height: 50px;
    padding-bottom: 50px;
}

.sponsors-image-box {
    flex-basis: 33%;
    text-align: center;
}

.sponsorsbox {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    justify-content: space-around;
}

.container {
    background: linear-gradient(
        191.99deg,
        rgba(208, 208, 208, 0.34) 9.19%,
        rgba(255, 255, 255, 0) 91.68%
    );
    mix-blend-mode: normal;
    box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(20px);
    border-radius: 26px;
    margin: 50px 100px;
    padding: 70px 100px 10px 100px;
}

@media (max-width: 1400px) {
    .sponsors-image-box {
        flex-basis: 50%;
    }
}

@media (max-width: 1100px) {
    .sponsors-image-box {
        flex-basis: auto;
    }

    .sponsorsbox {
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}

@media (max-width: 900px) {
    .heading {
        font-size: 4rem;
        margin-left: 0;
    }

    .header {
        justify-content: center;
    }

    .line {
        display: none;
    }
}

@media (max-width: 700px) {
    .heading {
        font-size: 4rem;
        white-space: normal;
    }
    .sponsors-image-box img {
        height: 40px;
    }

    .container {
        padding: 0;
        padding-top: 50px;
        margin: 50px 30px;
    }
}

@media (max-width: 400px) {
    .heading {
        font-size: 3rem;
    }
}

@media (max-width: 320px) {
    .heading {
        font-size: 2.75rem;
    }

    .sponsors-image-box img {
        height: 30px;
    }
}
