@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap%27");
@import url("https://fonts.cdnfonts.com/css/mechanismo-2");

/* ---------------- Classes ------------------------- */

/* -------------- */

body,
html {
  margin: 0%;
  padding: 0%;
  background: url("../images/bg.png") no-repeat fixed;
  background-size: cover;
  overflow-x: hidden;
}

#landing-page {
  width: 100vw;
  height: 100vh;
}

.nav-font {
  font-family: "Montserrat", sans-serif;
  user-select: none;
}
.text-white {
  color: #ffffff;
}

.num {
  font-size: 4rem;
}

.uni {
  font-size: 1.2rem;
  font-weight: 300;
}

.box-cont {
  background-color: #ffffff23;
  border-radius: 5%;
}

.sidebar {
  height: 100vh;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgb(2, 99, 23);
  background: linear-gradient(
    176deg,
    rgba(2, 99, 23, 0.4) 23%,
    rgba(8, 56, 19, 1) 33%,
    rgba(0, 0, 0, 1) 55%
  );
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  overflow: hidden;
}

.sidebar a {
  padding: 8px 8px 8px 40px;
  text-decoration: none;
  font-size: 175%;
  color: #aaa9a9;
  display: block;
  transition: 0.3s;
  overflow: hidden;
}
.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar p {
  text-decoration: none;
  font-size: 175%;
  color: #aaa9a9;
  display: block;
  transition: 0.3s;
  overflow: hidden;
  margin-top: 0;
}
.sidebar p:hover {
  color: #f1f1f1;
  cursor: pointer;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.landing-logo {
  width: 75%;
  margin-top: 0%;
  transform: translateY(-20%);
}
.openbtn {
  font-size: 20px;
  background-color: rgb(10, 10, 10);
  color: rgb(0, 255, 34);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

.dev-btn {
  background-color: #ffffff33;
  font-family: "Montserrat", sans-serif;
}

canvas {
  width: 50%;
  height: 50%;
  display: block;
  position: relative;
  background: transparent;
}

.Countdown {
  color: rgb(0, 255, 21);
  overflow: hidden;
  text-align: center;
  display: table-cell;
}

.btnsize {
  background-color: #f1f1f181;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 14px;
  width: 10%;
  height: 10%;
  margin-top: 2%;
  /* margin-bottom: 8%; */
}

.nav-font-small {
  font-family: "Montserrat", sans-serif;
}

.btnsize:hover {
  background-color: #313131;
}
.flex-grid {
  display: flex;
}
.col {
  width: 50%;
}

@media (max-width: 400px) {
  .flex-grid {
    display: block;
  }
}

/* MediaQueries */
@media screen and (max-width: 400px) {
  .landing-logo {
    width: 90%;
  }
  .sidebar {
    width: 0px;
    background: rgb(2, 99, 23);
    background: linear-gradient(
      176deg,
      rgba(2, 99, 23, 1) 23%,
      rgba(8, 56, 19, 1) 33%,
      rgba(0, 0, 0, 1) 55%
    );
  }
  .btnsize {
    margin-top: 5%;
  }
  .Countdown {
    margin-top: 10%;
    margin-left: 0%;
  }
  .btnsize {
    width: 25%;
  }
  .sidebar a {
    font-size: 100%;
    padding: 20px 20px 2px 14px;
  }
}
@media screen and (min-width: 400px) and (max-width: 600px) {
  .sidebar a {
    font-size: 100%;
    padding: 20px 20px 2px 14px;
  }
  .sidebar {
    width: 0px;
    background: rgb(2, 99, 23);
    background: linear-gradient(
      176deg,
      rgba(2, 99, 23, 0.9) 23%,
      rgba(8, 56, 19, 0.9) 33%,
      rgba(0, 0, 0, 0.9) 55%
    );
  }
  .btnsize {
    margin-top: 5%;
  }
  .Countdown {
    margin-top: 10%;
    margin-left: 0%;
  }
  .btnsize {
    width: 25%;
  }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
  .sidebar a {
    font-size: 80%;
    padding: 20px 20px 2px 14px;
  }
  .sidebar {
    width: 0;
  }
  .btnsize {
    margin-top: 5%;
    width: 25%;
  }
  .landing-logo {
    margin-top: 20%;
  }
  .Countdown {
    margin-top: 10%;
    margin-left: 18%;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .sidebar a {
    padding: 4px 4px 4px 10px;
    font-size: 120%;
  }
  .sidebar {
    width: 0;
  }
  .btnsize {
    margin-top: 10%;
    width: 17%;
  }
  .Countdown {
    margin-top: 15%;
    margin-left: 0%;
    display: table-cell;
  }
  canvas {
    width: 100%;
    height: 100%;
    display: block;
    position: relative;
    background: transparent;
    margin-left: 50%;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1392px) {
  .btnsize {
    width: 13%;
  }
  .sidebar a {
    padding: 20px 4px 4px 10px;
    font-size: 130%;
  }
}

@media screen and (min-width: 1392px) {
  .sidebar a {
    font-size: 140%;
    padding: 8px 8px 18px 40px;
  }
  .sidebar {
    width: 0;
  }
  .btnsize {
    width: 13%;
  }
}
