@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap%27");
@import url("https://fonts.cdnfonts.com/css/mechanismo-2");

/* ---------------- Classes ------------------------- */

/* -------------- */

body,
html {
  margin: 0%;
  padding: 0%;
  background-image: url("../images/bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: fixed;
}

#landing-page {
  width: 100vw;
  height: 100vh;
}

.nav-font {
  font-family: "Montserrat", sans-serif;
}
.text-white {
  color: #ffffff;
}

.num {
  font-size: 4rem;
}

.uni {
  font-size: 1.2rem;
  font-weight: 300;
}

.box-cont {
  background-color: #ffffff23;
  border-radius: 5%;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: rgb(2, 99, 23);
  background: linear-gradient(
    176deg,
    rgba(2, 99, 23, 0.3) 23%,
    rgba(8, 56, 19, 0.3) 33%,
    rgba(0, 0, 0, 0.3) 55%
  );
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  overflow: hidden;
}

.sidebar a {
  padding: 8px 8px 8px 40px;
  text-decoration: none;
  font-size: 25px;
  color: #cac9c9;
  display: block;
  transition: 0.3s;
  overflow: hidden;
}

.sidebar a:hover {
  color: #f1f1f1;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}
.landing-logo {
  margin-left: 22%;
  margin-top: 0%;
  flex-wrap: nowrap;
}
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: rgb(10, 10, 10);
  color: rgb(0, 255, 34);
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main {
  transition: margin-left 0.5s;
  padding: 16px;
}

.dev-btn {
  background-color: #ffffff33;
  font-family: "Montserrat", sans-serif;
}


canvas {
  /* width: 900px;
  height: 200px; */
  display: block;
  position: relative;
  background: transparent;
  margin-top: -20%;
  margin-left: 35%;
}
.Countdown{
  color: rgb(0, 255, 21);
  overflow: hidden;
  display: table-cell;
  text-align: center;
 
}

.btnsize{
  background-color: #f1f1f181;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 14px;
  width: 10%;
  height: 10%;
  margin-left: 45%;
  margin-top: 12%;
}
.btnsize:hover{
  background-color: #313131;
}
@media screen and (max-height: 450px) {
  .sidebar {
    padding-top: 15px;
  }
  .sidebar a {
    font-size: 18px;
  }
}

/* MediaQueries */


@media screen and (max-width: 760px){
 
}

@media screen and (min-width: 768px) and (max-width: 1024px){

} 
@media screen and (min-width:1392px){

}  