@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap%27");
* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
@font-face {
  font-family: "Mechanismo";
  src: url("Mechanismo-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  src: url("Montserrat-VariableFont_wght.ttf");
}
.outer {
  height: 100%;
  width: 100%;
  background-image: url("bg.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}
h1 {
  color: #d0d0d0;
  text-align: center;
  font-family: "Mechanismo";
  font-size: 5vw;
  margin-bottom: 40px;
}

.box {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.left-area {
  flex: 50%;
  display: flex;
  flex-direction: column;
  position: relative;
  top: 10%;
  justify-content: center;
}
button {
  height: 60px;
  width: 50vh;
  margin-bottom: 2em;
  border: none;
  border-radius: 0px 50px 50px 0px;
  opacity: 50%;
  color: white;
  background-color: #696767;
  font-size: 40px;
  font-family: "Montserrat";
  font-weight: 900;
  position: relative;
  /* left: 10%; */
}

button:hover {
  box-shadow: 5px 0px 20px 5px #d0d0d0;
  background-color: #585656;
}
button.click {
  background-color: #535151;
  box-shadow: 8px 0px 20px 5px #d0d0d0;
}

.timeline-1 {
  flex: 50%;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline-1::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #d0d0d0;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-2 {
  flex: 50%;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: none;
}

.timeline-2::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #d0d0d0;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}
.timeline-3 {
  flex: 50%;
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  display: none;
}

.timeline-3::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: #d0d0d0;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -13px;
  background-color: #d0d0d0;
  border: 2px solid #d0d0d0;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.left {
  left: 0;
}

.right {
  left: 50%;
}

.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid #696767;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent #696767;
  opacity: 70%;
}

.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid #696767;
  border-width: 10px 10px 10px 0;
  border-color: transparent #696767 transparent transparent;
  opacity: 70%;
}

.right::after {
  left: -16px;
}

.content {
  padding: 10px 20px;
  background-color: #696767;
  position: relative;
  border-radius: 6px;
  opacity: 70%;
}
h2 {
  color: #ffd700;
  font-family: "Montserrat";
}
p {
  color: white;
  font-family: "Montserrat";
}

@media screen and (max-width: 600px) {
  h1 {
    font-size: 9vw;
  }
  .button {
    height: 60px;
    width: 35vh;
    font-size: 30px;
  }
  .timeline-1::after {
    left: 31px;
  }
  .timeline-2::after {
    left: 31px;
  }
  .timeline-3::after {
    left: 31px;
  }

  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .container::before {
    left: 60px;
    border: medium solid #d0d0d0;
    border-width: 10px 10px 10px 0;
    border-color: transparent #d0d0d0 transparent transparent;
    opacity: 70%;
  }

  .left::after,
  .right::after {
    left: 15px;
  }

  .right {
    left: 0%;
  }
}
