@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap%27");
@import url("https://fonts.cdnfonts.com/css/mechanismo-2%27");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");

#contact_us-heading {
  width: 100%;
  margin: auto;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 1%;
  margin-bottom: 2%;

}

.cu-line-left,
.cu-line-right {
  width: 100%;
  height: -2%;
}

.contact_us-heading-container {
  padding-left: 10px;
  padding-right: 10px;
  display: inline-block;
  white-space: nowrap;
}

#contact_us-heading hr {
  
  border: 3px solid #e2e0d4;
  background-color: #e2e0d4;
}

.contact {
  font-family: Mechanismo;
  font-size:4rem;
  font-weight: 400;
  font-style: normal;
  display: inline-block;

  text-align: center;
  text-transform: capitalize;

  font-size: 6vw;

  color: #e2e0d4;
}


#contact_us-body {
  position: relative;
  overflow-x: hidden;
  background-image: url("..//images/image.png");
  background-repeat: no-repeat;
  background-color: hsl(0, 0%, 0%);
  background-size: 100% 100%;
  background-position: center top;
}

#contact_us-box {
  position: absolute;
  width: 30vw;
  height: 30vw;
  left: 15%;
  top: 29%;
  border: 2px solid #ffffff;
  box-sizing: border-box;
}

#contact_us-heading2 {
  position: absolute;
  left: 5vw;
  margin-bottom: 2vh;
  font-family: "IBM Plex Mono";
  font-style: normal;
  font-weight: 600;
  
  font-size: 3.431vw;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: rgb(242, 242, 242);
  text-shadow: rgb(245 97 13 / 30%) 0px 0px 18.7792px,
    rgb(244 147 67 / 30%) 0px 1.56494px 4.69481px,
    rgb(0 0 0 / 4%) 0px 0px 0.782468px;
  

  font-weight: 530;
  font-size: 2.2vw;
  line-height: 2.986vw;
 
  
}

#contact_us-glassbox {
  position: absolute;
  width: 25.694vw;
  height: 3.472vw;
  left: 49.722vw;
  top: 6.806vw;
  right: 23.99vw;
  bottom: 48.333vw;
  margin-top: 5.736vw;
  background: rgba(211, 211, 211, 0.25);
  border-radius: 1.632vw;
}

#contact_us-contacticons {
  top: 41.667vw;
  margin-top: 17.5vw;
  margin-left: 48.556vw;
  width: 34.722vw;
}

.icons {
  display: flex;
  flex-direction: column;
}

#contact_us-mail {
  height: 6.389vw;
  width: 6.398vw;
  display: flex;
  flex-direction: row;
  margin-top: 7.083vw;
  margin-left: 2.778vw;
}

#contact_us-fb {
  display: flex;
  flex-direction: row;
  margin-top: 2.083vw;

  width: 4.845vw;
  height: 4.531vw;
}

#contact_us-twitter {
  display: flex;
  flex-direction: row;
  margin-top: 2.083vw;
  width: 4.694vw;
  height: 3.837vw;
}

#contact_us-website {
  margin-top: 4.653vw;
  margin-left: 2.778vw;
  height: 6.319vw;
  width: 6.319vw;
  display: flex;
  flex-direction: row;
}

#contact_us-insta1 {
  width: 4.697vw;
  height: 4.558vw;
}

#contact_us-mail11 {
  width: 6.086vw;
  height: 5.599vw;
}

#contact_us-website1 {
  width: 6.086vw;
  height: 5.599vw;
}

#contact_us-linkedin1 {
  width: 4.697vw;
  height: 4.558vw;
}

#contact_us-discord1 {
  width: 12.697vw !important;
  height: 7.558vw !important;
}

#contact_us-fb1 {
  width: 4.697vw;
  height: 4.558vw;
}

#contact_us-twitter1 {
  width: 4.697vw;
  height: 4.558vw;
}

#contact_us-insta {
  display: flex;
  flex-direction: row;
  margin-top: 2.083vw;
}

#contact_us-linkedin {
  margin-top: 2.083vw;
  width: 4.318vw;
  height: 3.983vw;
  top: 40.298vw;
  bottom: 26.875vw;
  right: 44.556vw;
  left: 51.126vw;
  display: flex;
  flex-direction: row;
}

#contact_us-discord {
  margin-top: 2.083vw;
  width: 4.415vw;
  height: 4.717vw;
  top: 46.95vw;
  left: 50.969vw;
  right: 44.616vw;
  bottom: 19.443vw;
  display: flex;
  flex-direction: row;
}

#contact_us-link_mail {
  width: 18.306vw;
  height: 3.611vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.736vw;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  margin-top: 1.875vw;
  margin-left: 3.194vw;
}

#contact_us-link_fb {
  height: 2.54vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.736vw;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  width: 19.05vw;
  margin-left: 1.181vw;
  margin-top: 1.25vw;
}

#contact_us-link_twitter {
  position: absolute;
  width: 19.05vw;
  height: 2.724vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.736vw;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  margin-top: 0.694vw;
  margin-left: 6.111vw;
}

#contact_us-link_website {
  position: absolute;
  width: 14.375vw;
  height: 3.75vw;
  right: 3.208vw;
  bottom: 6.333vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.736vw;
  letter-spacing: 0.05em;
  text-transform: lowercase;
}

#contact_us-link_insta {
  position: absolute;
  width: 17.701vw;
  height: 2.36vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.736vw;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  margin-left: 5.556vw;
  margin-top: 0.972vw;
}

#contact_us-link_linkedin {
  position: absolute;
  width: 36.736vw;
  height: 2.36vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.736vw;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  margin-top: 1.093vw;
  margin-left: 5.694vw;
}

#contact_us-link_discord {
  position: absolute;
  width: 29.514vw;
  height: 2.361vw;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.736vw;
  letter-spacing: 0.05em;
  text-transform: lowercase;
  margin-top: 1.597vw;
  margin-left: 6.042vw;
}

a.links1:link {
  color: #c4c4c4;
}

a.links1 {
  color: #c4c4c4;
}

a.links:link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.528vw;
  text-decoration: none;
  color: #f2f2f2;
  opacity: 0.5;
}

a.links:visited {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.528vw;
  text-decoration: none;
  color: #f2f2f2;
  opacity: 0.5;
}

a.links:hover {
  color: rgb(240, 236, 17);
}

a.linksb:link {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.528vw;
  text-decoration: none;
  color: #f2f2f2 ;
  opacity : 0.5;
}

a.linksb:visited {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 1.528vw;
  text-decoration: none;
  color: #f2f2f2 ;
  opacity : 0.5;
}

a.linksb:hover {
  color: red;
}

.line {
  position: absolute;
  width: 34.722vw;
  height: 0.132vw;
  left: -4.931vw;
  top: 2.5vw;
  background: rgba(255, 255, 255, 0.8);
}

.line1 {
  position: absolute;
  width: 38.556vw;
  height: 0.132vw;
  left: 61.444vw;
  top: 2.5vw;
  background: rgba(255, 255, 255, 0.8);
}

#contact_us-discord1 {
  position: absolute;

  margin-left: -3.958vw;
  margin-top: -0.833vw;
}

#contact_us-footer {
  display: flex;
  flex-direction: row;

  bottom: 15px;
  padding: 20px;
  justify-content: space-between;
}

#contact_us-a {
  width: 8.194vw;
  height: 5.024vw;
  margin-top: 10%;
  margin-right: -0.833vw;
  margin-left: -1.042vw;
}

#contact_us-b {
  width: 8.194vw;
  height: 5.024vw;
  margin-top: 10%;
  margin-right: -2.778vw;
  margin-left: 0.347vw;
}

#contact_us-c {
  width: 8.194vw;
  height: 5.024vw;
  margin-top: 10%;
  margin-right: 0px;
  margin-left: -0.069vw;
}

#contact_us-d {
  width: 8.194vw;
  height: 5.024vw;
  margin-top: 10%;
  margin-right: -3.333vw;
  margin-left: -7.041vw;
}

#contact_us-e {
  width: 8.194vw;
  height: 5.024vw;
  margin-top: 10%;
  margin-right: 0.347vw;
  margin-left: 0vw;
}

#contact_us-f {
  width: 8.194vw;
  height: 5.024vw;
  margin-top: 10%;
  margin-right: -0.208vw;
  margin-left: -1.111vw;
}

#contact_us-g {
  width: 8.194vw;
  height: 5.024vw;
  margin-top: 10%;
  margin-right: -2.917vw;
  margin-left: 0vw;
}

#contact_us-h {
  width: 8.194vw;
  height: 5.024vw;
  margin-top: 10%;
  margin-right: 1.944vw;
  margin-left: -0.139vw;
}

#contact_us-i {
  width: 8.194vw;
  height: 5.024vw;
  margin-top: 10%;
  margin-right: 0.347vw;
  margin-left: -9.028vw;
}

#contact_us-j {
  width: 8.194vw;
  height: 5.024vw;
  margin-top: 10%;
  margin-right: 0.347vw;
  margin-left: -4.306vw;
}

#contact_us-k {
  width: 11.389vw;
    height: 1.968vw;
    margin-top: 11.5%;
    margin-right: 10.236vw;
    margin-left: 2.917vw;
}

#contact_us-logo {
  margin-top: 8%;
  margin-left: -0.139vw;
  height: 5.556vw;
  width: 13.889vw;
  margin-right: -0.139vw;
}

@media (max-width: 450px){
  #contact_us-box{
    top: 17%;
    left: 35%;
  }
  #contact_us-glassbox{
    display: none;
  }
  .links{
    display: none;
  }
 #contact_us-contacticons{
   display: flex;
   flex-wrap: nowrap;
   position: relative;
   justify-content: space-evenly;
   top : 7.68vh;
   left: -15.55%;
 }
 #contact_us-box {
  display:flex;
  justify-content:flex-start; 
  flex-direction: column;
  align-items: flex-start;
 }
} 
