@import url('https://fonts.cdnfonts.com/css/mechanismo-2');


:root {
    --crsl-bg: transparent;
    --box-bg: #d0d0d0;
    --box-shadow: transparent;
    --box-shadow-border: #0000000f;
    --box-border: transparent;
  }
  
  html, body {
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-image: url('./bg.png');
    /* background: #2f3539;
    background: -moz-radial-gradient(circle, #2f3539 0%, #1e272e 100%);
    background: -webkit-radial-gradient(circle, #2f3539 0%, #1e272e 100%);
    background: radial-gradient(circle, #2f3539 0%, #1e272e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#2f3539",endColorstr="#1e272e",GradientType=1); */
  }
  html *, body * {
    font-family: "Source Sans Pro", sans-serif;
  }
  html > p, body > p {
    font-size: 0.95em;
    font-weight: bold;
    position: absolute;
    top: 7.5%;
    width: 100%;
    letter-spacing: 4px;
    text-transform: uppercase;
    text-align: center;
    color: white;
    user-select: none;
  }
html> .carousel,body>.carousel {
    padding-top: 125px;
  }
  
.heading {
    font-family: "Mechanismo",sans-serif;
    font-size:4rem;
    color: #D0D0D0;
    text-align: center;
    padding:15px;
}

  .carousel {
    position: relative;
    display: block;
    margin-top: 50px;
    width: 100%;
    box-sizing: border-box;
  }
  .carousel__prev, .carousel__next {
    position: absolute;
    bottom: 1%;
    transition: transform 0.25s ease;
    padding-left:15px;
    padding-right:15px;
  }
  .carousel__prev svg, .carousel__next svg {
    color: green;
    cursor: pointer;
  }
  .carousel__prev:hover, .carousel__next:hover {
    transform: scale(1.25);
  }
  .carousel__prev {
    left: 40%;
  }
  .carousel__next {
    right: 40%;
  }
  .carousel__body {
    width: 100%;
    height:100%;
    padding: 20px 0 50px 0;
    overflow: hidden;
  }
  .carousel__body .carousel__slider {
    position: relative;
    transition: transform 1s ease-in-out;
    background: var(--crsl-bg);
  }
  .carousel__body .carousel__slider__item {
    position: relative;
    display: block;
    float: left;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
  }
  .carousel__body .carousel__slider__item .item__3d-frame {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 1s ease-in-out;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
  }
  .carousel__body .carousel__slider__item .item__3d-frame:after {
    content: "";
    position: absolute;
    bottom: -15%;
    width: 100%;
    height: 40px;
    background: var(--box-shadow);
    box-shadow: 0px 0px 5px 5px var(--box-shadow);
    transform: rotateX(90deg) translate3d(0px, -20px, 0px);
    opacity: 0.85;
  }
  .carousel__body .carousel__slider__item .item__3d-frame__box {
    display: block;
    padding: 0;
    /* align-items: center;
    vertical-align: middle; */
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border-color: var(--box-border);
    /* background: linear-gradient(180deg, #000000 -0.28%, rgba(133, 63, 63, 0) 99.72%); */
    background: url(360_F_136122421_2KabwYoBuYvQGK9qPWUwgeH7Md5gUw5N.jpg), linear-gradient(110.62deg, rgba(255, 255, 255, 0.25) 6.39%, rgba(255, 255, 255, 0) 53.34%);
    border-width: 3px;
    border-style: solid;
  }
  /* .carousel__body .carousel__slider__item .item__3d-frame__box h1 {
    font-size: 7em;
    width: 100%;
    color: white;
  } */
  .carousel__body .carousel__slider__item .item__3d-frame__box--right, .carousel__body .carousel__slider__item .item__3d-frame__box--left {
    top: 0;
    width: 40px;
    backface-visibility: hidden;
  }
  .carousel__body .carousel__slider__item .item__3d-frame__box--left {
    left: 0;
    border-left-width: 1px;
    transform: translate3d(1px, 0, -40px) rotateY(-90deg);
    transform-origin: 0%;
  }
  .carousel__body .carousel__slider__item .item__3d-frame__box--right {
    right: 0;
    border-right-width: 1px;
    transform: translate3d(-1px, 0, -40px) rotateY(90deg);
    transform-origin: 100%;
  }

.card{
    background: transparent;
    /* background-color: #63d471; background-image: linear-gradient(315deg, #63d471 0%, #233329 74%); */
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25)) drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
    height:100%;
}

  .bg{
      position: relative;
      background-color:orange;
      background-position: cover;
      top:0;
  }
  .img{
      position: absolute;
      top: 200px;
      border-radius:50%;
    background-color: yellow;
  }

  .card-content{
      padding:1rem;
      color:pink;
      text-align:justify;
  }

  @media only screen and (max-width: 500px){
  .carousel__prev{
    padding-left:10px;
    padding-right:10px;
  }

  .carousel__next{
    padding-left:10px;
    padding-right:10px;
  }
}


  @media only screen and (max-width: 450px){
    .carousel__prev{
      padding-left:7px;
      padding-right:7px;
    }
  
    .carousel__next{
      padding-left:7px;
      padding-right:7px;
    }
  }


  @media only screen and (max-width: 425px){
    .carousel__prev{
      padding-left:5px;
      padding-right:5px;
    }
  
    .carousel__next{
      padding-left:5px;
      padding-right:5px;
    }
  }

  @media only screen and (max-width: 380px){
    .carousel__prev{
      padding-left:1.5px;
      padding-right:1.5px;
    }
  
    .carousel__next{
      padding-left:1.5px;
      padding-right:1.5px;
    }
  }

  @media only screen and (max-width: 345px){
    .carousel__prev{
      padding-left:0;
      padding-right:0;
    }
  
    .carousel__next{
      padding-left:0;
      padding-right:0;
    }
  }
  @media only screen and (max-width: 320px){
    svg{
      width: 72%;
    }
  }