@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap%27');
@import url('https://fonts.cdnfonts.com/css/mechanismo-2%27');
html{
    width: 1440px;
    height: 1024px; 
}
#body{
    position: absolute;
width: 1440px;
height: 1024px;

background: #000000;

}
#box{
    position: absolute;
width: 465px;
height: 465px;
left: 157px;
top: 376px;

border: 2px solid #FFFFFF;
box-sizing: border-box;
}

#img{
    position: absolute;
    width: 1440px;
    height: 1024px;
    opacity: 0.4;
}
#heading{
    position: absolute;
    width: 585px;
    height: 118px;
    left: 450px;
    top: 15px;
    
    
    font-family: Mechanismo;
    font-style: normal;
    font-weight: normal;
    font-size: 80px;
    line-height: 96px;
    
    color: #C4C4C4;
}    
#heading1{
    position: absolute;
width: 445px;
height: 24px;
left: 716px;
top: 207px;

font-family: IBM Plex Mono;
font-style: normal;
font-weight: 600;
font-size: 41px;
line-height: 53px;
letter-spacing: 0.05em;
text-transform: uppercase;


color: #F2F2F2;

text-shadow: 0px 0px 18.7792px rgba(245, 97, 13, 0.3), 0px 1.56494px 4.69481px rgba(244, 147, 67, 0.3), 0px 0px 0.782468px rgba(0, 0, 0, 0.04);
}
#glassbox{
position: absolute;
width: 370px;
height: 50px;
left: 716px;
top: 278px;
right:345.45px;
bottom:696px;
margin-top: 25px;

background: rgba(211, 211, 211, 0.25);
border-radius: 23.5px;
}
#heading2{
    position: absolute;
    left: 30px;
    
    top: -19px;
    width:500px;
    font-family: IBM Plex Mono;
    font-style: normal;
    font-weight: 530;
    font-size: 33px;
    line-height: 43px;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    
    color: #FFFFFF;
    
    text-shadow: 0px 0px 18.7792px rgba(245, 97, 13, 0.3), 0px 1.56494px 4.69481px rgba(244, 147, 67, 0.3), 0px 0px 0.782468px rgba(0, 0, 0, 0.04);
}

#mail{
    position: absolute;
    height: 92.00049591064453px;
width: 92px;
left: 71px;
top: 87px;
bottom:286px;
border-radius: 0px;


}
#fb{
    position: absolute;
    Width:69.77px;
    Height:65.25px;
    left: 730.86px;
    top: 470px;
    bottom:488.75px;
    right:639.38px;

}
#twitter{
    position: absolute;
    Width :67.6px;
Height :55.25px;
    top :777.37px;
    left :733.22px;
    right:639.18px;
    bottom:169.38px;
    

}
#website{
    position: relative;
    height: 91px;
width: 91px;
left: 70.99px;
top: 272px;
bottom:101.99px;
right:302.99px;


}
#insta{
    position: absolute;
    Width:67.64px;
    Height:65.63px;
    left: 732.94px;
    bottom: 585.37px;
    top :373px;
    right: 639.41px;    
}
#linkedin{
    position: absolute;
    Width :62.18px;
Height:56.71px;
Top :580.29px;
bottom:387px;
right:641.61px;
left:736.21px;




}
#discord{
    position: absolute;
    Width :63.58px;
    Height :67.93px;
Top :676.08px;
Left :733.95px;
right: 642.47px;
bottom:279.98px;

    

    
}

#link_mail{
    position: absolute;
    width: 263.61px;
    height: 29.16px;
    left: 315.39px;
    top: 382.44px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: lowercase;
}

#link_fb{
    position: absolute;
    height: 36.58px;
    left: 338.08px;
    top: 534.97px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: lowercase;
    width: 274.32px;
}

#link_twitter{
    position: absolute;
    width: 274.32px;
    height: 39.23px;
    left: 334.24px;
    top: 687.25px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: lowercase;
}

#link_website{
    position: absolute;
    Width :207px;
    Height :36px;
    left: 183px;
    top: 300px;
    right:75px;
    bottom:120px;
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: lowercase;
  
}
#link_insta{
    position: absolute;
    width: 254.89px;
    height: 33.99px;
    left: 959.43px;
    top: 387.75px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: lowercase;
}

#link_linkedin{
    position: absolute;
    width: 254.89px;
    height: 33.99px;
    left: 959.43px;
    top: 387.75px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: lowercase;
}

#link_discord{
    position: absolute;
    width: 374px;
    height: 34px;
    left: 964px;
    top: 693px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 30px;
    letter-spacing: 0.05em;
    text-transform: lowercase;    
}

#link_github{
    position: absolute;
    height: 34px;
    left: 961px;
    top: 828px;
    
    font-family: IBM Plex Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 32px;
    letter-spacing: 0.05em;
    text-transform: capitalize;
    width: 312px;
}
    a:link{
       font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
        color: #F2F2F2;

opacity: 0.5;
      }
      
      a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
      }

      a:visited {
        font-family: Montserrat;
        font-style: normal;
        font-weight: bold;
        font-size: 22px;
        text-decoration: none;
        color: #F2F2F2;

opacity: 0.5;

      }
