<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Sponsors</title>
        <link rel="stylesheet" href="assets/css/associate.css" />
    </head>
    <body>
        <div class="header">
            <h1 class="heading">ASSOCIATE SPONSORS</h1>
            <div class="line2">
                <hr />
            </div>
        </div>
        <div class="container">
            <div class="sponsorsbox29">
                <div class="sponsors-image-box">
                    <img
                        src="../../../Assets/Sponsors/Associate sponsors/assets/images/1password.png"
                        alt="Image"
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="../../../Assets/Sponsors/Associate sponsors/assets/images/axure.svg"
                        alt=""
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="../../../Assets/Sponsors/Associate sponsors/assets/images/badelog.png"
                        alt=""
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="../../../Assets/Sponsors/Associate sponsors/assets/images/balsamiq.png"
                        alt="Image"
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="../../../Assets/Sponsors/Associate sponsors/assets/images/coding minutes.jpg"
                        alt=""
                    />
                </div>

                <div class="sponsors-image-box">
                    <img
                        src="../../../Assets/Sponsors/Associate sponsors/assets/images/cybrancee.png"
                        alt=""
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="../../../Assets/Sponsors/Associate sponsors/assets/images/geeksforgeeks.png"
                        alt="Image"
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="../../../Assets/Sponsors/Associate sponsors/assets/images/get_mega.png"
                        alt=""
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="../../../Assets/Sponsors/Associate sponsors/assets/images/hackclub.svg"
                        alt=""
                    />
                </div>
                <div class="sponsors-image-box">
                    <img
                        src="../../../Assets/Sponsors/Associate sponsors/assets/images/hacksandslacks.jpg"
                        alt="Image"
                    />
                </div>

                <div class="sponsors-image-box">
                    <img
                        src="../../../Assets/Sponsors/Associate sponsors/assets/images/interview buddy.png"
                        alt=""
                    />
                </div>
            </div>
        </div>
    </body>
</html>
