@import url("https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap%27");

@font-face {
  font-family: "Mechanismo-Regular";
  font-style: normal;
  font-weight: 400;
  src: local("Mechanismo-Regular"),
    url("https://fonts.cdnfonts.com/s/51075/MechanismoRegular-p7ywa.woff")
      format("woff");
}
#about-makeathon {
	width: 100vw;
	background: url("../Images/abt_us.png");
	background-size: cover;
	background-position: center;
	z-index: -1;
	overflow-x: hidden;
  padding-bottom:10%;
  height: auto;

 
}
.heading1 {
  margin: 0;
  margin-top: 3rem;
  color: #d0d0d0;
  font-family: "Mechanismo", sans-serif;
  font-size: 4rem;
  font-weight: 100;
  padding-bottom:10%;
}
.large-screens {
  display: flex;
  flex-direction: row;
}
.images {
  float:left;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-left: 5%;
  padding-bottom: 5%;

  
}
.m1 {
  height: 40vh;
  width: 33vw;
  margin-left: 10%;
}
.m2 {
  height: 30vh;
  width: 33vw;
  margin-left: 10%;
}
.m3 {
  height: 20vh;
  width: 33vw;
  margin-left: 10%;
}

.betterbox {
  width: 80%;
  height: fit-content;
  background: linear-gradient(
    134.37deg,
    rgba(255, 255, 255, 0.3) 25.27%,
    rgba(255, 255, 255, 0.15) 101.47%
  );
  box-shadow: 0px 4px 20px -1px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(20px);
  border-radius: 26px;
  margin-top: 1rem;
  margin-left: 1%;
  margin-right: 6%;
}
.about_makeathon_text {
  margin: 2rem;
  padding-: 2rem;
  float: right;
  text-align: justify;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 120%;
  text-align: justify;
  color: #ffffff;

      
}

@media screen and (max-width:768px){
        .large-screens {
    flex-direction: column;
    text-align: center;
    

}
.about_makeathon_text{
  justify-content: center;
  
}
.betterbox{
  
  justify-content: center;
  padding-left: 20px;

  
}
.images{
  flex-direction: row;
  display: inline-flex;
  size: 10px;
  margin-left: 0;
  padding:0;
  background-size: cover;
}
.m1{
 /* size: 10px; */
 margin: 0;
 object-fit: contain;
}
.m2{
/* size: 10px; */
margin: 0;
object-fit: contain;
}
.m3{
/* size: 10px; */
margin: 0;
object-fit: contain;
}
  }
